.footer {
    background-image: url("../../../img/footer-gradient-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
    position: relative;

    .footer__img {
        height: 80%;
        position: absolute;
        left: 70%;
        bottom: 0;
    }
}

.footer__container {
    display: grid;
    grid-template-areas: "footer__title_questions footer__title_wait"
        "footer__contact_email footer__contact_address"
        "footer__contact_phone footer__contact_city";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 60vw;
    height: 35vh;
    margin-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer__title_questions {
    grid-area: footer__title_questions;
}

.footer__title_wait {
    grid-area: footer__title_wait;
}

.footer__contact_email {
    grid-area: footer__contact_email;
}

.footer__contact_address {
    grid-area: footer__contact_address;
}

.footer__contact_phone {
    grid-area: footer__contact_phone;
}

.footer__contact_city {
    grid-area: footer__contact_city;
}

.footer__title {
    color: $color-light-xl;
    font-family: $title-font;
    font-weight: 400;
    letter-spacing: 0.1rem;
    line-height: 1.2em;
}

.footer__contact {
    display: flex;
    align-items: center;
    color: $color-primary;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}

.footer__icon {
    width: 1.9em;
    margin-right: 0.9rem;
}

.footer__icon_marker {
    width: 1.1em;
    margin-right: 0.9rem;
}