.footer {
    background-image: url("../../../img/footer-gradient-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
    position: relative;

    @include media-tablet {
        min-height: 63vh;
}
@include media-mobile {
    min-height: 162vh;
}
    .footer__img {
        height: 88%;
        position: absolute;
        left: 72%;
        bottom: 0;

        @include media-laptop {
            height: 70%;
            left: 69%;
        }

        @include media-tablet {
            height: 48%;
            left: 31%;
    }
    @include media-mobile {
        height: 32%;
            left: 10%;
    }
    }
}

.footer__container_wrap {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    min-height: 350px;
}
.footer__container {
    display: grid;
    grid-template-areas: "footer__title_questions footer__title_wait"
        "footer__contact_email footer__contact_address"
        "footer__contact_phone footer__contact_city";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 68vw;
    height: 280px;
    margin-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;

    @include media-tablet {
        width: 89vw;
        margin-left: 8%;
}

@include media-mobile {
    grid-template-areas: "footer__title_questions "
        "footer__contact_email" 
        "footer__contact_address"
        "footer__title_wait"
        "footer__contact_phone"
        "footer__contact_city";
}
}

.footer__title_questions {
    grid-area: footer__title_questions;
}

.footer__title_wait {
    grid-area: footer__title_wait;
}

.footer__contact_email {
    grid-area: footer__contact_email;
}

.footer__contact_address {
    grid-area: footer__contact_address;
}

.footer__contact_phone {
    grid-area: footer__contact_phone;
}

.footer__contact_city {
    grid-area: footer__contact_city;
}

.footer__title {
    color: $color-light-xl;
    font-family: $title-font;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    line-height: 1.2em;
}

.footer__contact {
    display: flex;
    align-items: center;
    color: $color-primary;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.footer__icon {
    width: 1.9em;
    margin-right: 0.9rem;
}

.footer__icon_marker {
    width: 1.1em;
    margin-right: 0.9rem;
}