.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    font-weight: 400;
    font-size: 0.9rem;

    .nav__menu {
        color: $color-light-xl;
        text-decoration: none;
    }

    .nav__menu_dark {
        color: $color-dark-l;
        text-decoration: none;
    }

    .nav__menu_active {
        text-decoration: underline;
        text-decoration-color: $color-primary;
        text-underline-offset: 0.5rem;
        text-decoration-thickness: 0.2rem;
    }

    .nav__menu_container {
        display: flex;
        width: 40vw;
        justify-content: space-between;
    }
}





